{% extends 'allauth/layouts/base.html' %}
{% load allauth %}
{% load i18n %}
{% block body %}
  {% comment %} {% if messages %}
    <div>
      <strong>{% trans 'Messages:' %}</strong>
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %} {% endcomment %}
  <div class="flex-grow-1 row">
    <aside class="col-sm-4 col-md-3 col-lg-2">
      <ul class="p-3 nav nav-pills flex-column">
        {% comment %} <li class="navbar-brand">Menu</li> {% endcomment %}
        {% if user.is_authenticated %}
          {% url 'account_email' as email_url_ %}
          {% if email_url_ %}
            <li class="nav-item">
              <a href="{{ email_url_ }}"
                class="{% block nav_class_email %}
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  nav-link









                {% endblock %}">
                {% trans 'Change Email' %}
              </a>
            </li>
          {% endif %}
          {% url 'account_change_password' as change_password_url_ %}
          {% if change_password_url_ %}
            <li class="nav-item">
              <a href="{{ change_password_url_ }}"
                class="{% block nav_class_password %}
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  nav-link









                {% endblock %}">
                {% trans 'Change Password' %}
              </a>
            </li>
          {% endif %}
          {% url 'socialaccount_connections' as connections_url_ %}
          {% if connections_url_ %}
            <li class="nav-item">
              <a href="{{ connections_url_ }}"
                class="{% block nav_class_socialaccount %}
                  
                  nav-link


                {% endblock %}">
                {% trans 'Account Connections' %}
              </a>
            </li>
          {% endif %}
          {% url 'mfa_index' as mfa_url_ %}
          {% if mfa_url_ %}
            <li class="nav-item">
              <a href="{{ mfa_url_ }}">{% trans 'Two-Factor Authentication' %}</a>
            </li>
          {% endif %}
          {% url 'usersessions_list' as usersessions_list_url_ %}
          {% if usersessions_list_url_ %}
            <li class="nav-item">
              <a href="{{ usersessions_list_url_ }}">{% trans 'Sessions' %}</a>
            </li>
          {% endif %}
          {% comment %} {% url 'account_logout' as logout_url_ %}
          {% if logout_url_ %}
            <li class="nav-item">
              <a href="{{ logout_url_ }}">{% trans 'Sign Out' %}</a>
            </li>
          {% endif %} {% endcomment %}
        {% else %}
          {% url 'account_login' as login_url_ %}
          {% if login_url_ %}
            <li class="nav-item">
              <a href="{{ login_url_ }}">{% trans 'Sign In' %}</a>
            </li>
          {% endif %}
          {% url 'account_signup' as signup_url_ %}
          {% if signup_url_ %}
            <li class="nav-item">
              <a href="{{ signup_url_ }}">{% trans 'Sign Up' %}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </aside>
    <main class="col-sm-8 col-md-9 col-lg-10">
      <div id="content" class="container">
        {% if messages %}
          <div class="pt-4">
            {% for message in messages %}
              {% element alert level=message.tags %}
              {% slot message %}
              {{ message }}
              {% endslot %}
              {% endelement %}
            {% endfor %}
          </div>
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>
    </main>
  </div>
{% endblock %}
